:root {
  --color-0: #222;
  --color-1: #353335;
  --color-contrast-0: cadetblue;
  --color-header: darkslategray;
  --color-text: white;
  --color-income: lime;
  --color-expense: red;
}

body{
  background-color: var(--color-0);
}

.App {
  background-color: var(--color-0);
  color: var(--color-text);
}

.overlay {
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(10, 10, 10, .7);
}

.landingBox {
  display: flex; 
  justify-content: center; 
  align-items: center;
  padding: 5rem;
}

.cardBox {
  display: flex;
  flex-flow: row wrap;
}

.LoadingIndicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  max-width: 5rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.TableHeaderRow {
  background-color: var(--color-header);
  font-weight: bold;
}

.Card {
  background-color: var(--color-1);
  color: var(--color-text);
  padding: 1rem;
  border: none;
  margin: 0.3rem;
  border-radius: 5px;
}

.CardHeader {
  display: flex;
  justify-content: space-between;
}

.CardFilters {
  display: flex;
}

.FinsLogo {
  height: 2.4rem;
  width: 2.4rem;
}

.Header {
  background-color: var(--color-header);
  color: var(--color-contrast-0);
  font-size:3rem;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  padding: 1rem;
}

.landingHeader {
  color: var(--color-contrast-0);
  font-size:3rem;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  padding: 1rem;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 1rem;
  font-size: larger;
  font-weight: bold;
  color: var(--color-contrast-0);
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 1rem;
  font-size: large;
  font-weight: bold;
  color: var(--color-contrast-0);
}

h3 {
  margin-top: 0;
  margin-bottom: 0 !important;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 1rem;
  font-size: medium;
  font-weight: bold;
  color: var(--color-contrast-0);
}

.Logo {
  margin-right: 0.5rem;
}

.FileChooserButton {
  background-color: var(--color-contrast-0);
  color: var(--color-text);
  padding: 1rem;
  font-weight: bold;
  font-size: medium;
  border: none;
  margin: 0.2rem;
  border-radius: 5px;
}

.FileChooser {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: max-content;
  font-size: x-small;
  text-align: center;
}

.GlobalSettings {
  display: flex;
  flex-direction: row;
}

.MultiSelection {
  color: black;
  width: 10em;
}

.Bumper {
  margin: 1em;
}

.hidden {
  display: none;
}

table, th, td {
  border: 1px solid var(--color-text);
}

td {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

table {
  border-collapse: collapse;
}